/* GENERAL */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.d-flex{
  display: flex;
}

.container{
  max-width: 90%;
  margin: 0 auto;
}
.debug{
  background-color: rgba(0, 0, 255, 0,25);
  min-height: 50px;
  border: 1px solid black;
}

.flex-wrap{
  flex-wrap: wrap;
}

/* HEADER */

header{
  background-color: #0084fd;
  height: 75px;
  color: white;
}

header .container{
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

header .container .hamb i{
  font-size: 2.5rem;
}

header .container .nav{
  display: none;
}





/* MAIN */



/*******  FIRST SECTION ******/

section{
  margin: 20px 0;
}

main section .container .box{
  text-align: center;
  background-color: #b5ddff;
  border-radius: 50px;
  flex-direction: column;
  margin: 50px auto;
}

main section .container .box h3{
 color: #0084fd;
 text-align: center;
 margin: 20px 0;
 font-size: 1.8rem;
}

main section .container .box p{
  margin: 25px;
  font-size: 1.2rem;
  text-align: start;
 }
 


main section .container .box .button{
  background-color: #0084fd ;
  width: 200px;
  height: 40px;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  margin: 20px auto;
}

main section .container .box .button i{
  margin-right: 10px;
}

main section .container .box .button a{
  color: white;
  text-decoration: none;
  padding: 20px;
}



main section .container .box .img{
  height: 270px;
  width: 100%;
}

img{
  justify-content: center;
  height: 100%;
}


main section .container .box .big-s{
  width: 100%;
  justify-content: center;
  margin-top: 20px;
}

main section .container .box .big-s i{
  font-size: 6rem;
  color: #0084fd;
}

main section .container .text{
  text-align: center;
}

/*CLOSE SECTION */



/* SECONDA SECTION */

main  .purple{
  background-color: #9792e4 ;
  color: white;
}

main .purple .box{
  background-color: white;
  margin: 20px;
  border-radius: 29px;
}





/* FOOTER */

footer{
  background-color: #333333;
  color: white;
  height: 235px;
}

footer .container{
  height: 100%;
  align-items: center;
  margin-top: 20px;
}

footer .container p{
  margin: 20px 0 30px 0;
  
}



/****************************/
/***** RESPONSIVE HEADER ****/
/***************************/

/******* HEADER *******/

@media screen and (min-width:992){
  header .container .nav{
    display: block;
  }
  header .container .hamb{
    display: none;
  }
}

/****** FIRST SECTION *******/

/* tablet */

@media (min-width: 767px){

  .container{
    display: flex;
    flex-wrap: wrap;
  }

  .box{
    height: 566px;
  }
 
  main section .container .box:first-child{
    width: 60%;
  }

  main section .container .box.small{
    width: calc(100% / 3.2);
  }

  main .container p{
    font-size: 2.5rem;
  }
 
  main section .container .box .big-s{
    margin-top: 20px;
  }

  .button{
    
  }
}

/**** TUTTO CIO CHE DO AL TABLET LO EREDITA ANCHE LA FORMA COMPUTER *******/ 

/* computer */

@media (min-width: 1160px){

  .box{
    height: 345px ;
    position: relative;
  }

  main section .container .box-text{
    width: 60%;
  }

  .img{
    position: absolute;
    left: 200px;
    bottom: 0;
  }

  main .container .box p{
    margin: 0;
  }

}